@model List<OrderBasket>
@{
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr scope="row">
                <td>@item.ProductName</td>
                <td>@item.ProductCount</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>
</table>
