@model Property
@{
    ViewData["Title"] = "Добавление типа характеристики";
}
<form asp-action="Add" asp-controller="Property" method="post">
    <div class="form-group">
        <label asp-for="Value">Введите имя для типа характеристки</label>
        <input type="text" asp-for="Value" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Добавить</button>
</form>

