@model List<Property>
@{
    ViewData["Title"] = "Тип характеристик";
}
<table class="table table-striped">
    <thead>
        <tr>
            
            <th scope="col">Название</th>
            <th scope="col">#</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr scope="row">
              
                <td>@item.Value </td>
                <td>
                    <form method="post" asp-action="Delete" asp-controller="Property" asp-route-id="@item.Id">
                        <button class="btn btn-primary">Удалить</button>
                    </form>
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Update" asp-controller="Property" asp-route-id="@item.Id">Изменить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

